.rating {
    display: flex;
    gap: $size-5;

    &__star{
    width: 36px;
    height: 36px;
}

@include mobile {
    gap: $size-5;
    
    &__star {
        width: 18px;
        height: 18px;
        }
    }

}
