.housing {
  width: 85%;
  margin: 0px auto 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    @include flex-between;
    flex-direction: column;
    margin-top: 10px;

    h2 {
      color: $primary-color;
      margin: 0;
      font-weight: 500;
      font-size: 36px;
    }

    p {
      font-size: 18px;
    }
  }

  &__header--down {
    width: 100%;
    @include flex-between;
  }

  &__header--high {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 18px;
  }

  &__tags {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 20px;
    

    span {
      border: 1px solid #ff6060;
      border-radius: 20px;
      padding: 5px;
      background-color: #ff6060;
      color: white;
      font-size: 14px;
      font-weight: bold;
      width: 35%;
      display: flex;
      justify-content: center;
    }
  }

  &__host {
    display: flex;
    width: auto;
    gap: 5px;
  }

  &__host--name {
    margin-top: 9px;
    width: 49%;
    display: flex;
    flex-direction: column;
    color: #ff6060;
    text-align: right;
    
  }

  &__host--picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    padding-top: 0;
  }

  &__rating {
    display: flex;
    justify-content: flex-end;
  }

  &__collapsibles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0;

    > .collapsible {
      width: 45%;
    }
  }

  @include mobile {
    &__header {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      h2 {
        font-size: 18px;
      }

      p {
        margin: 0%;
        font-size: 14px;
      }
    }

    &__header--down {
      display: flex;
      gap: $radius-md;
    }

    &__header--high {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
     
    }

    &__tags {
      width: 100%;
      flex-wrap: wrap;
      gap: 10px;
      margin-top: 5px;

      span {
        width: auto;
        padding: 5px 10px;
        font-size: 10px;
      }
    }

    &__host {
        display: flex;
        align-items: center;
      }
    
    &__collapsibles {
      flex-direction: column;
      gap: 20px;

      > .collapsible {
        width: 100%;
      }
    }
  }
}