.housing {
  width: 85%;
  margin: 0px auto $size-30 auto;
  @include flex-column;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: $size-10;

    h2 {
      color: $primary-color;
      margin: 0;
      font-weight: 500;
    }

    p {
      font-size: 18px;
    }
  }

  &__header--left {
    width: 100%;
    @include flex-column;
    align-items: flex-start;
  }

  &__header--right {
    @include flex-column;
    align-items: flex-end;
    width: 50%;
    gap: 18px;
  }

  &__content {
    @include flex-column;
    width: 100%;
  }

  &__tags {
    width: 100%;
    display: flex;
    align-items: center;
    gap: $size-15;
    

    span {
      border: 1px solid $primary-color;
      border-radius: $size-20;
      padding: $size-5;
      background-color: $primary-color;
      color: $white;
      font-size: 14px;
      font-weight: bold;
      width: 35%;
      display: flex;
      justify-content: center;
    }
  }

  &__host {
    display: flex;
    width: auto;
    gap: $size-5;
  }

  &__host--name {
    margin-top: 9px;
    width: 49%;
    display: flex;
    flex-direction: column;
    color: $primary-color;
    text-align: right;
    
  }

  &__host--picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    padding-top: 0;
  }

  &__rating {
    display: flex;
    justify-content: flex-end;
  }

  &__collapsibles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: $size-15 0;
    gap: 60px;

    > .collapsible {
      width: 50%;
    }
  }

  @include mobile {
    &__header {
      flex-direction: column;
      align-items: flex-start;

      h2 {
        font-size: 18px;
      }

      p {
        margin: 0%;
        font-size: 14px;
      }
    }

    &__header--left {
      display: flex;
      gap: $size-15;
    }

    &__content {
    
      gap: $size-15;
    }

    &__header--right {
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
     
    }

    &__tags {
      width: 100%;
      flex-wrap: wrap;
      gap: $size-10;
      margin-top: $size-5;

      span {
        width: auto;
        padding: $size-5 $size-10;
        font-size: $size-10;
      }
    }

    &__host {
        display: flex;
        align-items: center;
      }
    
    &__collapsibles {
      flex-direction: column;
      gap: $size-20;

      > .collapsible {
        width: 100%;
      }
    }
  }
}