* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $black;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

@media (max-width: 350px) {
  #root {
    min-width: 300px;
  }
}