.home__card {
  width: 85%;
  margin: auto;
  padding: 50px;
  background: $light-grey;
  border-radius: $size-25;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;

  @include mobile {
    grid-template-columns: 1fr;
    padding: 0px;
    gap: $size-20;
    background: $white;
  }
}
.card {
  position: relative;
  height: 340px;
  border-radius: $size-10;
  overflow: hidden;

  &:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

  &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
}

&__title {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: $size-10;
    bottom: 0px;
    left: $size-20;
    color: $white;
    font-size: 18px;
    font-weight: bold;

  }
  @include mobile {
    height: 255px;

  }

}

  

