.collapsible {
    display: flex;
    flex-direction: column;
    width: 70%;

  &__button {
    height: 52px;
    padding: $size-20;
    background-color: $primary-color;
    color: $white;
    @include flex-between;
    border-radius: $size-10;
    width: 100%;
    border: none;
    
  }

  &__content {
    overflow: hidden;
    background: $light-grey;
    transition: height 0.4s ease;
    border-radius: $size-10;
    padding: 0px $size-20 0 $size-20;
    line-height: 1.6;
  }

  &__img {
  width: $size-30;
  height: $size-30;
  transition: transform 0.4s ease;
  cursor: pointer;
  }

  @include mobile {
    width: 100%;

    &__button {
      height: $size-30;
    }
  }
}