
.header {
  @include flex-between;
  width: 85%;
  margin: $size-30 auto;
  color: $black;

  &__logo {
    height: 68px;
    width: auto;
  }

  &__nav {
    display: flex;
    gap: 50px;
    font-size: 24px;

    a {
    text-decoration: none;
    color: $black;
    }

    &:visited {
      color: $black;
    }

    a.active {
  border-bottom: 2px solid $black;
  text-decoration: none;
  color: $black;
    }
  }

  @include mobile {
    
    gap: $size-20;

    &__logo {
      height: 45px;
    }

    &__nav {
      gap: $size-20;
      font-size: 12px;

       a { 
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: 350px) {
  .header {
    width: 300px;
    margin: $size-20 auto;

    &__logo {
      height: 45px;
    }

    &__nav {
      font-size: 12px;
      gap: $size-10;

      a {
        text-transform: uppercase;
      }
    }
  }
}