
.footer {
  @include flex-center;
  flex-direction: column;
  background: $black;
  color: $white;
  padding: 10%;

    &__logo {
        width: 122px;
        margin-bottom: $size-10;
        filter: brightness(0) invert(1);
    }

    &__content {
        margin-top: $size-20;
        font-size: 24px;
        color: $white;
    }
    
    @include mobile {
        text-align: center;
        padding: 10%;

    &__content {
        font-size: 12px;
    }


    &--about {
        padding: 42%;
        text-align: center;
        margin-top: $size-20;
    }
}
}